<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	colors="true"
	beStrictAboutOutputDuringTests="true"
	failOnWarning="true"
>
	<testsuites>
		<testsuite name="YoOhw Customer Intelligence">
			<directory suffix=".php">tests/integration</directory>
		</testsuite>
	</testsuites>
</phpunit>
